<html>
	<head>
		<link rel="icon" type="image/png" href="../static/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/css/amigo.css">
	</head>
	<body>
		<div id="masthead">
			<br><br><br>
			<div id="title">ami<span id="greentext">Go</span></div>
			<br><br><br>
		</div>
		<br>
		<div id="content">
			<div id="map">
				<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjedh5W9golD6lhg9m81RgI20AF46wdXA&sensor=true"></script>
			</div>
			<div id="list">
			</div>
		</div>
	</body>
</html>