<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link href='http://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="icon" type="image/png" href="../static/img/favicon.ico">
		<title>amiGo</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
