<html>
<input type="hidden" id="latitude" name="latitude" value=0 />
<input type="hidden" id="longitude" name="longitude" value=0 />	
<script type="text/javascript">
function showPosition(position){
	document.getElementById("latitude").value  =  position.coords.latitude;
	document.getElementById("longitude").value =  position.coords.longitude;

}

if (navigator.geolocation){
	navigator.geolocation.getCurrentPosition(showPosition);	
}
else{
	document.getElementById("latitude").value  =  0;
	document.getElementById("longitude").value =  0;
}

function getPosition(){
	if (navigator.geolocation){
		navigator.geolocation.getCurrentPosition(showPosition);	

	}
	else{
		document.getElementById("latitude").value  =  0;
		document.getElementById("longitude").value =  0;
	}
}

</script>

</html>
