{% extends "base.html" %}
{% block content %}
<div id="fb-root"></div>
<script>
    var callback;
    window.fbAsyncInit = function() {
        FB.init({
            appId : '158496954347821',
            status: true, 
            xfbml : true
        });
        callback();
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    function callback(){

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;

                loginHandler(uid, accessToken);
                /* console.log(uid);
                   console.log(accessToken)*/
            }
            else if (response.status === 'not_authorized') {
                } else {
            }
        }
        );}   
        function loginHandler(uid, accessToken){  
            $.getJSON("/loginhandler", {"uid":uid, "accessToken":accessToken});
        }
</script>
<br><br>
<div class="title-home">ami<span class="greentext">Go</span></div>
<div class="descriptionbound">
    <div class="description"><br><br>amiGo is an application that allows strangers with common friends in the same area to contact each other, be it for meeting up and having a cup of coffee or for a quick favor (like getting a sofa to sleep on at PennApps). Simply log in with your Facebook account and begin finding friends .
        <br>This application is brought to you by <span class="orangetext">Curtis Bezault</span>, <span class="orangetext">Daryl Sew</span>, <span class="orangetext">Shan Shi</span>, and <span class="orangetext">Kevin Wang</span></div>
<div class="center">
    <div class="fb-login-button"></div>
</div>
</div>
{% endblock %}
