<!-- html -->
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/css/home.css">
	<body>
		<br><br>
		<div id="title">ami<span id="greentext">Go</span></div>
	</head>
		<div id="descriptionbound">
			<div id="description"><br><br>amiGo is an application that allows strangers with common interests or common friends to contact each other, be it for a quick favor or just for meeting up and having a cup of coffee. <span id="orangetext">consectetur adipisicing elit</span>bbbrbrbrbrbrbrbbr<br><br><br></div>
		</div>
	</body>
</html>